.CategoryTitle {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 42px;
  font-weight: 400;
  line-height: 67px;
}

.ListingsGrid {
  margin-bottom: 4rem;
  display: grid;
  justify-content: center;
  align-items: start;
  column-gap: 40px;
  row-gap: 60px;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.ListingItemCard {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
  cursor: pointer;

  &.out-of-stock {
    opacity: 0.5;
  }

  &:not(.out-of-stock):hover {
    .quick-add-btn {
      visibility: visible;
      opacity: 1;
    }
  }

  .product-image-container {
    position: relative;
  }

  .product-image {
    width: 100%;
    min-height: 3rem;
    display: block;
  }

  .out-of-stock-overlay {
    position: absolute;
    inset-block: 0;
    inset: 0;
    display: grid;
    place-content: center;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  .quick-add-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    translate: -30% 50%;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    margin: 0;
    border: none;
    height: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .product-info {
    font-size: 18px;
    line-height: 28.8px;

    .name {
      font-weight: 300;
    }

    .price {
      font-weight: 500;
    }
  }
}