.ProductDisplayContainer {
  padding-block: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;

  @media (max-width: 799px) {
    grid-template-columns: 1fr;
  }
}

.ProductGallery {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: flex-start;
  justify-items: flex-start;
  gap: 2rem;
  max-height: max(75vh, 500px);

  .previews-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-height: inherit;

    .previews-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      overflow-x: hidden;
      overflow-y: auto;

      .preview-button {
        margin: 2px;
        display: block;
        height: 4.75rem;
        width: 4.75rem;
        flex-shrink: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        background-size: cover;
        cursor: pointer;
      }
    }

    .previews-controlls {
      display: flex;
      gap: 0.5rem;
    }
  }

  .image-container {
    max-height: inherit;

    .image-main {
      display: block;
      max-height: inherit;
      max-width: 100%;
    }
  }

  @media (max-width: 799px) {
    grid-template-columns: 1fr;
    max-width: calc(100vw - 2rem);
    max-height: none;

    .previews-section {
      flex-direction: row;
      max-width: inherit;

      .previews-container {
        flex-shrink: 1;
        flex-direction: row;
        align-self: flex-start;
        overflow-x: scroll;
      }

      .previews-controlls {
        flex-shrink: 0;
        flex-direction: column;
        height: 4.75rem;
        aspect-ratio: 1/2;
      }
    }

    .image-container {
      grid-row: 1;
      justify-self: center;

      .image-main {
        max-height: 60vh;
        max-width: calc(100vw - 2rem);
      }
    }
  }
}

@mixin ProductBranding {
  line-height: 27px;
  font-size: 30px;
}

.ProductInfo {
  .brand {
    @include ProductBranding;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .name {
    @include ProductBranding;
    font-weight: 400;
    margin-bottom: 40px;
  }

  .price {
    margin-top: 40px;
    font-weight: 700;

    .heading {
      font-family: "Roboto Condensed";
      font-size: 18px;
      text-transform: uppercase;
    }

    .content {
      margin-top: 10px;
      font-size: 24px;
    }
  }

  .description {
    margin-top: 40px;
  }
}