.NavBtns {
  flex-grow: 1;
  justify-self: left;
  align-self: stretch;
  display: flex;
  gap: 6px;
  margin-right: 6px;
}

.BrandLogo {
  display: block;
  height: 2rem;
}

.HeaderBtns {
  justify-self: right;
  display: flex;
  gap: 6px;
}

.CurrencyBtn {
  display: flex;
  gap: 0.5rem;
}